body {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 20px;
  background-color: #61b5e6;
}

header h1 {
  font-size: 2.5rem;
  color: #004a99;
  font-weight: bold;
  text-transform: lowercase;
  text-align: center;
}

/* styling container */
.container {
  max-width: 550px;
  margin: 20px auto 0;
}

/* Kontainer utama untuk kartu */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  margin: 20px auto 0;
}

/* Styling untuk setiap kartu hewan */
.animal-card {
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(26, 25, 25, 0.05);
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  width: 100%;
  cursor: pointer;
}

/* Styling untuk teks di dalam kartu */
.animal-card p {
  margin: 5px 0;
  font-size: 1.1rem;
  color: #333;
}
